/* Chrome, Safari, Edge, aur Opera se arrows hatane ke liye */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox se arrows hatane ke liye */
input[type=number] {
  -moz-appearance: textfield;
}